.formulario-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 80px 50px 0 50px;
}

.formulario-container .formulario {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1;
}

.formulario-container .formulario h2 {
    color: #212121;
    font-family: "Prata", serif;
    font-size: 32px;
    font-weight: 400;
}
