body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.times {
    text-align: center;
}

.times h1 {
    color: #6278f7;
    font-size: 40px;
    font-family: "Prata", serif;
    font-weight: 400;
    display: inline-block;
    border-bottom: 4px solid #6278f7;
    margin-top: 0;
    margin-bottom: 80px;
    padding-bottom: 14px;
}